p {
  padding: 10px;
  background-color: #ffddff;
}

.container {
    width: 80%;
    height: 80%;
    position: relative;
}
#loadingMessage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}